cpp_debug_repo/cpp_code_debug_entrypoint_main
cpp_debug_repo/cpp_code_debug_entrypoint_main.dSYM/Contents/Info.plist
cpp_debug_repo/cpp_code_debug_entrypoint_main.dSYM/Contents/Resources/DWARF/cpp_code_debug_entrypoint_main
